.tidesdk, .titanium {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.tidesdk {
  background-image: url("../../images/tidesdk-logo.png");
  width: 400px;
  height: 104px; }

.titanium {
  background-image: url("../../images/titanium-logo.png");
  width: 400px;
  height: 81px; }
